label {
    display: block;
}

.error {
    color: red;
}

.player-name-input::after {
    margin-bottom: 1rem;
    display: block;
    content: "";
    border-bottom: 1px solid light-dark(black, grey);
    padding-top: 1rem;
}

.game-listing {
    border: 1px solid light-dark(black, grey);
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
}

.game-listing p {
    margin: 0.5rem;
}

.game-listing + .game-listing {
    margin-top: 1rem;
}