label {
    display: block;
}

.error {
    color: red;
}

.player-name-input::after {
    margin-bottom: 1rem;
    display: block;
    content: "";
    border-bottom: 1px solid light-dark(black, grey);
    padding-top: 1rem;
}