.icon {
    font-size: 1.5rem;
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    cursor: pointer;
}

.popover-button {
    background: transparent;
    border: none;
    font-size:0;
}

.popover {
    /* Doesn't work in firefox yet :( */
    bottom: calc(anchor(top) + 20px)
}