.player-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kick-button, input, select{
    margin-left: 0.5rem;
}

.info-popover {
    min-width: 7vw;
}

.info-popover p {
    margin-bottom: 0;
    margin-top: 0;
}
