.number-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.number-grid-item {
    align-self: center;
    justify-self: center;
    border-radius: 5%;
    padding: 1rem;
    cursor: pointer;
    background-color: light-dark(#edefef, #242424);
}

.not-selected {
    border: 2px solid light-dark(#b8b6b6, white);
}

.selected {
    border: 2px solid #1798f1;
}